html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);

  .content-wrapper {
    padding-top: var(--nav-height) !important;
    padding-bottom: var(--nav-height) !important;

    > * {
      height: calc(100vh - var(--nav-height) * 1.3);
      display: flex;
    }
  }

  .font-lightest {
    font-weight: 100 !important;
  }
}

.bg-menu {
  background: #29272d !important;
}
