html,
body {
  background: var(--bg-color);
  margin: 0;
  min-height: 100vh;
  padding: 0;

  .content-wrapper {
    min-height: 100vh;
    padding-top: var(--nav-height) !important;
    padding-bottom: var(--nav-height) !important;

    > * {
      color: var(--bg-menu-text);
      display: flex;
      height: calc(100vh - var(--nav-height));
      position: relative;

      &:nth-child(odd) {
        background: var(--bg-color);
      }

      &:nth-child(even) {
        background: var(--bg-color2);
      }

      &:first-child {
        background: linear-gradient(
          45deg,
          rgba(var(--primary-rgb-color), 0) 35%,
          rgba(var(--primary-rgb-color), 0.5) 100%
        );
      }
    }
  }

  .font-lightest {
    font-weight: 100 !important;
  }
}

.bg-menu {
  background: var(--bg-menu) !important;
}

.text-menu {
  color: var(--bg-menu-text) !important;
}

.text-menu-80 {
  color: rgba(var(--bg-menu-text-rgb), 0.8) !important;
}

.banner {
  transform: translate(-50%, -50%);
}
