<div class="flex flex-column w-full text-white-alpha-80">
  <h1 class="text-4xl font-normal md:text-6xl lg:text-7xl m-0 mb-2">Nithin V</h1>
  <h2 class="text-3xl font-light md:text-4xl m-0 mb-2">Full Stack Developer</h2>
  <p class="line-height-3">
    I'm a Full Stack Developer passionate about building scalable web applications and dynamic user
    experiences. I specialize in front-end frameworks like Angular and React, and back-end
    technologies like Node.js, NestJS, and MongoDB. Explore my projects, skills, and experience!
  </p>
</div>
