<div class="w-full h-full flex">
  <div class="col-6 h-full flex align-items-center justify-content-center">
    <div class="grid w-5 gap-4">
      <span class="w-auto bg-primary px-3 py-2 border-round-xs">Full-stack Developer</span>
      <span class="col-12 px-0 text-6xl font-lightest">Talk is cheap. <br />Show the code</span>
      <code class="text-white-alpha-30">
        I design and code beautifully simple things, <br />and I love what I do.
      </code>
      <span class="w-auto text-primary font-bold uppercase">Let's Chat!</span>
    </div>
  </div>
  <div class="col-6 h-full flex align-items-center justify-content-center">
    <div class="w-10rem h-10rem relative z-1 border-circle bg-black-alpha-40 p-3">
      <img src="assets/images/logo.svg" alt="Nithin V" class="w-full h-full" />
    </div>
    <div class="orbit w-18rem h-18rem absolute border-circle">
      <div *ngFor="let skill of skills" [class]="skill.class" [pTooltip]="skill.label">
        <i [class]="skill.icon"></i>
      </div>
    </div>
  </div>
</div>
