<!-- <div class="w-full h-full grid absolute z-1">
  <div class="col-12 md:col-6 h-full flex align-items-center justify-content-center">
    <div class="grid w-full max-w-20rem md:max-w-24rem gap-4">
      <span class="w-auto bg-primary px-3 py-2 border-round-xs">Full-stack Developer</span>
      <span class="col-12 px-0 text-4xl md:text-6xl font-lightest text-menu">
        Talk is cheap.<br />Show the code
      </span>
      <code class="text-menu-80">
        I design and code beautifully simple things,<br />and I love what I do.
      </code>
      <span
        class="
          w-auto
          text-primary
          font-bold
          uppercase
          cursor-pointer
          hover:text-white
          transition-ease-in-out
        "
      >
        Let's Chat!
        <i class="far fa-comment-dots pl-2"></i>
      </span>
    </div>
  </div>
  <div class="col-12 md:col-6 h-full flex align-items-center justify-content-center">
    <div class="w-full h-full max-w-7rem max-h-7rem md:max-w-10rem md:max-h-10rem relative z-1 p-3">
      <img src="assets/images/logo.svg" alt="Nithin V" class="w-full h-full" />
    </div>
    <div
      class="
        orbit
        w-full
        h-full
        max-w-11rem max-h-11rem
        md:max-w-18rem md:max-h-18rem
        absolute
        border-circle
      "
    >
      <div
        *ngFor="let skill of skills"
        [class]="iconClass"
        [pTooltip]="skillTooltipContent"
        [autoHide]="true"
      >
        <i [class]="skill.icon" [style.color]="skill.color"></i>
        <ng-template #skillTooltipContent>
          <div class="flex flex-column align-items-center">
            <b>{{ skill.label }}</b>
            <span class="skill-lavel">
              <p-rating [(ngModel)]="skill.skill" [cancel]="false"></p-rating>
            </span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div> -->
<div class="home-wrapper w-full h-full flex absolute z-1">
  <div class="main-content h-full flex flex-column align-items-start justify-content-center gap-3">
    <div class="text-xl font-semibold text-gray-700">Hello, I'm a</div>
    <div class="text-7xl font-semibold">Full Stack <span class="text-primary">Developer</span></div>
    <div class="w-6">
      Hi, I'm Nithin V, a passionate Full Stack Developer based in Kerala, India. Welcome to my
      portfolio
    </div>
    <p-button
      label="View Protfolio"
      styleClass="bg-primary hover:bg-primary-800"
      icon="fa-solid fa-arrow-right-long"
      iconPos="right"
    ></p-button>
  </div>
</div>

<ul class="bg-bubbles w-full h-full absolute top-0 left-0 m-0 overflow-hidden z-0">
  <li
    *ngFor="let square of squares"
    class="bg-primary opacity-10 absolute block border-round-xs list-none"
  ></li>
</ul>
