.orbit {
  animation: rotate 30s linear infinite;

  .icon {
    animation: antiRotate 30s linear infinite;

    &:nth-child(1) {
      top: -1.25rem;
      left: 50%;
    }

    &:nth-child(2) {
      top: 10%;
      right: 0.25rem;
    }

    &:nth-child(3) {
      top: 50%;
      right: -2.75rem;
    }

    &:nth-child(4) {
      top: 90%;
      right: 0.25rem;
    }

    &:nth-child(5) {
      bottom: -2.75rem;
      left: 50%;
    }

    &:nth-child(6) {
      top: 90%;
      left: 1.75rem;
    }

    &:nth-child(7) {
      top: 50%;
      left: -1.25rem;
    }

    &:nth-child(8) {
      top: 10%;
      left: 1.75rem;
    }
  }
}

/* Animation for orbiting */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animation for anti orbiting */
@keyframes antiRotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 960px) {
  $smallScreenHeight: 60vh;

  :host {
    height: #{$smallScreenHeight * 2} !important;

    > div {
      height: #{$smallScreenHeight * 2} !important;

      > div {
        height: $smallScreenHeight !important;
      }
    }
  }

  .orbit {
    .icon {
      &:nth-child(1) {
        top: -0.5rem;
      }

      &:nth-child(3) {
        right: -2rem;
      }

      &:nth-child(5) {
        bottom: -2rem;
      }

      &:nth-child(7) {
        top: 50%;
        left: -0.5rem;
      }
    }
  }
}
